.photo img{
	width: 20%;

}
.photo p {
	float: right;
	padding-right: 850px;
	padding-top:90px;
}
.nameofcv p {
	text-align:center;
}
.summary p {
	padding-top: 10px;
	padding-right: 300px;
	width: 100%;
}
.summary {

}